* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Reddit Mono', monospace;
	height: 100vh;
	max-height: 100vh;
}

button {
	padding: 20px;
	// color: #070707;
	// background-color: #e9e9e9;
	// border: 1px solid black;
	border-radius: 15px;
	// display: inline-block;
	// box-shadow: 0 7px #999;
	transition: 1s;
	font-family: 'Reddit Mono', monospace;
	font-size: 1rem;
	background: linear-gradient(145deg, #e5e5e5, #c1c1c1);
	box-shadow:
		11px 11px 22px #8b8b8b,
		-11px -11px 22px #ffffff;
}
button:hover {
	background-color: #e9e9e9;
}

button:active {
	background-color: #e9e9e9;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}
.text-animation {
	width: 28ch;
	//letter-spacing: .1em;
	border-right: 3px solid;
	white-space: nowrap;
	overflow: hidden;
	font-size: 1em;
	animation:
		typing 2s steps(28),
		blink 0.5s step-end infinite alternate;
}
@keyframes blink {
	50% {
		border-color: transparent;
	}
}
@keyframes typing {
	from {
		width: 0;
	}
}
